body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #5c00cc;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #0077cc;
}

ul {
    padding-left: 20px;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header a {
    color: white;      /* cor que você quiser para o email */
    text-decoration: none; /* remove o sublinhado */
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background: #0077cc;
    color: white;
}
style
